@model string

@{
    ViewBag.Title = "Index";
}
<h3>Oeps, er is iets fout gegaan! Probeer de pagina opnieuw te laden of ga terug de homepagina.</h3>
<h3>Of neem contact op met de systeembeheerder.</h3>
<h2>Hieronder is de foutmelding te zien:</h2>
<p>@Model</p>

