@using Spootify.Models
@model List<Playlist>
@{
    ViewBag.Title = "Playlists";
}

<h2>Playlists</h2>
<li role="presentation" class="list-group-item"><a href="@Url.Action("New", "Playlist")">Nieuwe playlist aanmaken.</a></li>

@foreach (Playlist playlist in Model)
{
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="@Url.Action("Playlist", new { playlist.PlaylistID})">@playlist.Name</a></li>
    </ul>
}

