@using Spootify.Models
@model List<Song>
@{
    ViewBag.Title = "Afspeellijst";
}

<h2>Afspeellijst</h2>
<ul class="nav nav-pills nav-stacked">
    @foreach (Song song in Model)
    {
        <li role="presentation" class="active">
            <a href="@Url.Action("Index", "Song", new {song.SongID})">@song.Name</a>
        </li>
    }
</ul>



