@using Spootify.Models
@model Song

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <img src="@Model.PictureURL" alt="Oepsiedaisie" class="img-rounded" height="500" width="600" />
    <h1>@Model.Name</h1>

    <p class="lead">Uploaddatum: @Model.Date</p>
</div>


