@using Spootify.Models
@model List<Genre>
@{
    ViewBag.Title = "Nieuw lied";
}

<h2>Nieuw Lied</h2>

<div class="col-md-6">
    <h2>Nieuw lied toevoegen!</h2>
    <form onsubmit="return checkPassword(this)" method="post" action="@Url.Action("NewSong", "Song")">
        <div class="form-group">
            <label for="InputName">Naam</label>
            <input type="text" required="required" class="form-control" id="InputName" placeholder="Naam" name="InputName" />
        </div>
        <div class="form-group">
            <label for="InputDuration">Duur</label>
            <input type="text" required="required" class="form-control" id="InputDuration" placeholder="Duur" name="InputDuration" />
        </div>
        <div class="form-group">
            <label for="InputFoto">FotoUrl</label>
            <input type="text" required="required" class="form-control" id="InputFoto" name="InputFoto" placeholder="Foto">
        </div>
        <div class="dropdown">
            <label>Genre</label>
            <select class="form-control" id="InputGenre">

                @foreach (Genre genre in Model)
                {
                    <option>@genre.Name</option>
                }

            </select>
        </div>
        <div class="form-group">
            <label for="InputSong">Liedje</label>
            <input type="file" required="required" id="InputSong" name="InputSong">
        </div>


        <button type="submit" class="btn btn-success">Lied invoeren!</button>
    </form>
</div>